<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

<!-- HTML Meta Tags -->
<title>Decagon Week7 Task</title>
<meta name="description" content="User login authorization and authentication">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="h">
<meta property="og:type" content="website">
<meta property="og:title" content="Decagon Week7 Task">
<meta property="og:description" content="User login authorization and authentication">
<meta property="og:image" content="https://www.logsign.com/uploads/authorization_and_authentication_0e0a962e49.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="">
<meta property="twitter:url" content="h">
<meta name="twitter:title" content="Decagon Week7 Task">
<meta name="twitter:description" content="User login authorization and authentication">
<meta name="twitter:image" content="https://www.logsign.com/uploads/authorization_and_authentication_0e0a962e49.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/login.css">
   
</head>
<body>
    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                        <div class="login-space">
                            <div class=""><h3><%= error %></h3></div>
                            <div class="group"> <a href="/"><input type="submit" class="button" value="Click Here to Try Again"> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>